<div class="container">
  <h1>Add a new review to <%= @restaurant.name %></h1>

                    <%# parent, children %>
                    <%# :restaurant_id/reviews/new( %>
  <%= simple_form_for [@restaurant, @review] do |f|  %>
    <%= f.input :content %>
    <%= f.submit 'Submit review', class: 'btn btn-primary' %>
  <% end %>
</div>